* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    color: white;
}

h1 {
    font-size: 4rem;
    -webkit-text-stroke: 0.1px rgb(209, 209, 209);
    margin-bottom: 50px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    border-radius: 15px;
    padding: 150px;
}

.back {
    position: absolute;
    padding: 20px;
    color:white;
    text-decoration: none;
    font-size: 1.3rem;
}

h3 {
    margin-top: 40px;
}
